doctype html
html(lang="en" data-ng-app="sp")
    head
        title Sparky
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
        base(href="/")
        // Vendor Styles
        link(rel="stylesheet", href="vendor/bootstrap/bootstrap.css")
        link(rel="stylesheet", href="vendor/font-awesome/font-awesome.css")
        // App Styles
        link(rel="stylesheet", href="app/app.css")
        
        // Vendor Scripts
        script(src="vendor/angular/angular.js")        
        script(src="vendor/angular-animate/angular-animate.js")           
        // App 
        script(src="app/app.module.js")
        // Exception
        script(src="app/modules/exception/exception.config.js")
        // Layout
        script(src="app/modules/layout/layout.controller.js")
        script(src="app/modules/layout/layout.directive.js")
        // TitleBar
        script(src="app/modules/title-bar/title-bar.controller.js")
        script(src="app/modules/title-bar/title-bar.directive.js")
        // SideBar
        script(src="app/modules/side-bar/side-bar.controller.js")
        script(src="app/modules/side-bar/side-bar.directive.js")
        
        
    body.container-fluid
        div(data-sp-layout="")

