.sp-layout
    header(data-sp-title-bar="", data-title="{{vm.title}}")
    section.sp-layout-content 
        .sp-sidebar(data-sp-side-bar="", data-title="{{vm.sideBarTitle}}")
        .sp-view(data-ng-view="")